.App {
  text-align: center;
}

h2{
  color: white
}

body {
  background-color: #282c34;
}

.search:hover{
  border: 3px solid rgb(160, 237, 46)
}

.input-search:hover{
  
  cursor: pointer
}

img{
  margin: auto;
  height: 20px;
  filter: invert(100%);
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
